@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');
* {
  --background: #ffffff;
  --accent: #ff6b6c;
  --otherAccent: #ffc145;
  --darkBackground: #5b5f97;
  font-family: 'Roboto', arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-card {
  background-color: var(--accent);
  height: 100vh;
  text-align: center;
}

.main-card__child {
  width: 12rem;
  min-width: 12rem;
  background-color: blue;
  height: max-content;
  /* transform: translate(-50%, -50%); */
}

.main-card__grandchild {
  margin: 1rem;
  background-color: orange;
}

@media screen and (max-width: 700px) {
  .main-card__child {
    max-width: 2rem !important;
  }
}
